button {
    background-color: #FF1133;
    border: none;
    cursor: pointer;
    color: white;
    opacity: 0.9;
    border-radius: 16px;
}

input[type=text],
input[type=cellphone] {
    width: 80%;
    padding: 5px;
    margin: 10px 0 22px 0;
    border: none;
    background: #282E3E;
    border-radius: 16px;


}